/*sideNav area*/
.btn-group {
    width:100%;
}
.list-group-item {
    padding:0;
}
.navbar-brand {
    font-size:1.5em;
    height:84px;
}
#sideNav {
    text-align:center;
}
#sideNav a.btn.btn-info, .nav-pills>li>a {
    text-align: left;
}
/*mainNav area*/
#appscale_title {
    font-size:1.5em;
}
#header .row {
    display: table;
}
.navbar .row > div {
    display: table-cell;
    float: none;
}
.navbar-right {
    min-width: 300px;
}
#mainNav .glyphicon {
    padding-right:0.5em;
}
#appscale_logo img {
    max-height: 50px;
}
/*dashboard css*/
#dash-panels .row-fluid {
    overflow-x:auto;
}
#dash-panels {
    padding-top: 2%;
}
#layout-buttons {
    text-align:right;
}
.unstyled {
    list-style:none;
}
/*panel specific*/
#panel-database_stats .panel-title a::before {
    font-family: 'Glyphicons Halflings';
    content: "\e181";
}
#panel-app_console .panel-title a::before {
    font-family: 'Glyphicons Halflings';
    content: "\2601";
}
#panel-cloud_stats .panel-title a::before {
    font-family: 'Glyphicons Halflings';
    content: "\e141";
}
#panel-memcache_stats .panel-title a::before {
    font-family: 'Glyphicons Halflings';
    content: "\e185";
}
#panel-relocate_app .panel-title a::before {
    font-family: 'Glyphicons Halflings';
    content: "\e178";
}
#panel-upload_app .panel-title a::before {
    font-family: 'Glyphicons Halflings';
    content: "\e198";
}
#panel-delete_app .panel-title a::before {
    font-family: 'Glyphicons Halflings';
    content: "\e020";
}
#panel-manage_users .panel-title a::before {
    font-family: 'Glyphicons Halflings';
    content: "\e008";
}
#panel-logging .panel-title a::before {
    font-family: 'Glyphicons Halflings';
    content: "\e032";
}


@media only screen and (min-width:992px) {
    .nav-header {
        border-right: thin #9d9d9d solid;
    }
}
/*small screens*/
@media only screen and (max-width: 991px) {
    #nav-links {
        position:static;
    }
    .nav-header {
        border:none;
    }
    #side-nav .navbar-header {
        clear:both;
    }
    #side-nav .navbar-header button{
        display:block;
        border-radius:4px;
        border:#9d9d9d thin solid;
    }
    #sideNav.navbar-collapse.collapse {
        display: none!important;
        height:0!important;
        padding-bottom: 0;
        overflow: hidden!important;
    }
    #sideNav.navbar-collapse.collapse.in {
        display: block!important;
        height:auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
}

/*errors*/
/*Error pages style*/
body.errorPage, body.loginPage {
    background: url(../images/patterns/2.png) repeat;
}
.errorContainer {
    background: url(../images/patterns/6.png) repeat;
    border:1px solid #c4c4c4;
    border-radius: 2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    padding:15px;
    -webkit-box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    /* top:50%;*/
    left:50%;
    margin-left:-286px;
    margin-top: -155px;
    width:540px;
}
.errorContainer h1 {font-size: 10em; line-height: 1em;}
.errorContainer.offline h1 {font-size: 5em;}
.errorContainer h1 small {font-weight: 700; font-size: 0.3em;}
.fieldWithErrors {
    color: red;
}

#errorExplanation, #noticeExplanation {
    list-style: none;
    padding: 6px 6px 0 6px;
    margin-left: -6px;
    font-weight: bolder;
    line-height: 22px;
    width: 75%;
    margin: 0 auto;
}

#errorExplanation {
    color: #ff0000;
    border: 2px solid red;
    list-style: none;
}

#noticeExplanation {
    color: green;
    border: 2px solid green;
    list-style: none;
    line-height: 120%;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: red;
    list-style: none;
    line-height: 120%;
}

/* Form Validation */
label.error {
    padding: 3px 4px 3px 4px;
    color: #c93605;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(164, 44, 4, 0.20);
    -moz-text-shadow: 0px 1px 1px rgba(164, 44, 4, 0.20);
    -webkit-text-shadow: 0px 1px 1px rgba(164, 44, 4, 0.20);
    font-size:11px;
}

form input.error {border: 1px solid #ED7A53 !important;}
form input.valid {border: 1px solid #9FC569 !important;}

.controls .checker label.error {
    min-width: 260px;
    text-align: left;
    margin-top: -28px;
}

.controls label.error {
    margin-top:-20px;
}
.controls .selector label.error {
    position: absolute;
    top: 5px;
    right: 0;
    margin:0;
}

.controls.sel label.error {
    position: absolute;
    top: 50px;
}

/*login screen*/
.loginContainer {
    position: absolute;
    border:1px solid #c4c4c4;
    width:300px;
    /*height:232px;*/
    height: auto;
    left:50%;
    top:50%;
    margin-left:-171px;
    margin-top: -150px;
    border-radius: 2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -webkit-box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    background: #fefefe;
    padding:0px 20px 0 20px;
}

.loginContainer:after,.loginContainer:before,.errorContainer:after,.errorContainer:before {
    background: #f9f9f9;
    background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}
.loginContainer:after, .errorContainer:after {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
}
.loginContainer:before, .errorContainer:before {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
}

.loginPage .navbar .brand {float: none; text-align: center; margin:0;}
.loginContainer .forgot {float: right;margin-right: -20px; font-size: 11px;}
.loginContainer .form-horizontal {margin-bottom: 0px;}
.loginContainer .form-actions {
    margin: 0 -20px 0 -20px;
    padding-left:20px !important;
    padding-right: 12px;
}
.loginContainer .form-row .form-label {
    text-align: left;
    padding-right: 27px;
    padding-top: 6px;
    position: relative;
}
#loginForm label .icon16 {
    position: absolute;
    right: 0;
    bottom: -26px;
}
#loginForm input {
    width: 100%;
}
.loginContainer input#username {width: 100%;}
@media only screen and (max-width: 572px) {
    .loginPage #header {
        height: 67px;
    }

    .loginPage .navbar .brand {
        width: auto;
    }
}

@media only screen and (max-width: 400px) {
    .loginContainer {
        width: 250px;
        margin-left: -150px;
    }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-device-width : 480px) {
    .loginPage #header {display: none;}
    .loginContainer {top: 10px;margin-top: 0;}
}

@media only screen and (max-width: 320px) {
    .loginContainer {
        width: 220px;
        margin-left: -130px;
        top: 15%;
        margin-top: 0;
    }

    .loginPage #header {
        display: none;
    }

    .errorContainer {width: 200px; margin-left: -115px;}
    .errorContainer .btn {margin-bottom: 15px;}
}

/*Error pages style*/
body.errorPage, body.loginPage {
    background: url(../images/patterns/2.png) repeat;
}
.errorContainer {
    background: url(../images/patterns/6.png) repeat;
    border:1px solid #c4c4c4;
    border-radius: 2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    padding:15px;
    -webkit-box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    /* top:50%;*/
    left:50%;
    margin-left:-286px;
    margin-top: -155px;
    width:540px;
}
.errorContainer h1 {font-size: 10em; line-height: 1em;}
.errorContainer.offline h1 {font-size: 5em;}
.errorContainer h1 small {font-weight: 700; font-size: 0.3em;}

/*Datastore Viewer*/
#datastore-viewer #entity-manager table {
  margin: 10px 0px;
}
#datastore-viewer #entity-manager table td {
  vertical-align: bottom;
}
#datastore-viewer #entity-manager th {
  font-weight: bold;
  padding: 5px 0px;
}
#datastore-viewer select#kind_input {
  text-align: left;
}
#datastore-viewer .ae-result-count {
  float: left;
  color: #999;
}
#datastore-viewer .ae-paginator {
  float: right;
}
#gqlForm {
  margin-bottom: 15px;
}
#gqlForm textarea {
  font-family: monospace;
  font-size: 12px;
}
#gqlInput {
  width: 100%;
  min-height: 150px;
}

.ae-button {
  display: inline-block;
  min-width: 54px;
  border:1px solid #DCDCDC;
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;
  color: #444;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  padding: 0 8px;
  line-height: 27px;
  -webkit-border-radius:2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor:default;
}
.ae-button:hover, .ae-button.hover {
  border: 1px solid #C6C6C6;
  color: #222;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8f8f8',EndColorStr='#f1f1f1');
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.ae-button:active, .ae-button.active {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6',EndColorStr='#f1f1f1');
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.ae-button.active{
  border: 1px solid #C6C6C6;
  color: #333;
}

.ae-button:visited {
  color: #666;
}
.ae-button.focus, .ae-button.right.focus, .ae-button.mid.focus, .ae-button.left.focus{
  outline: none;
  border: 1px solid #4d90fe;
  z-index:4 !important;
}

.ae-button.selected {
  background-color: #EEEEEE;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#EEEEEE),to(#E0E0E0));
  background-image: -webkit-linear-gradient(top,#EEEEEE,#E0E0E0);
  background-image: -moz-linear-gradient(top,#EEEEEE,#E0E0E0);
  background-image: -ms-linear-gradient(top,#EEEEEE,#E0E0E0);
  background-image: -o-linear-gradient(top,#EEEEEE,#E0E0E0);
  background-image: linear-gradient(top,#EEEEEE,#E0E0E0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEEEEE',EndColorStr='#E0E0E0');
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  border: 1px solid #CCC;
  color: #333;
}
/* Disabled buttons */
.ae-button.disabled, .ae-button.disabled:hover, .ae-button.disabled:active {
  background: none;
  color: #b8b8b8;
  border: 1px solid #f3f3f3;
  border: 1px solid rgba(0,0,0,0.05);
  cursor: default;
  pointer-events: none;
}
.ae-button.disabled.active{
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

.ae-button-submit {
  color: #FFF;
  border-color: #3079ed;
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
}
.ae-button-submit:hover {
  color: #FFF;
  border-color: #2f5bb7;
  background-color: #357ae8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#357ae8');
}

.ae-table-plain {
  border-collapse: collapse;
  width: 100%;
}
.ae-table {
  border: 1px solid #c5d7ef;
  border-collapse: collapse;
  width: 100%;
}

#bd h2.ae-table-title {
  background: #e5ecf9;
  margin: 0;
  color: #000;
  font-size: 1em;
  padding: 3px 0 3px 5px;
  border-left: 1px solid #c5d7ef;
  border-right: 1px solid #c5d7ef;
  border-top: 1px solid #c5d7ef;
}
.ae-table-caption,
.ae-table caption {
  border: 1px solid #c5d7ef;
  background: #e5ecf9;
  /**
   * Fixes the caption margin ff display bug.
   * see www.aurora-il.org/table_test.htm
   * this is a slight variation to specifically target FF since Safari
   * was shifting the caption over in an ugly fashion with margin-left: -1px
   */
  -moz-margin-start: -1px;
}
.ae-table caption {
  padding: 3px 5px;
  text-align: left;
}
.ae-table th,
.ae-table td {
  background-color: #fff;
  padding: .35em 1em .25em .35em;
  margin: 0;
}
.ae-table thead th {
  font-weight: bold;
  text-align: left;
  background: #c5d7ef;
  vertical-align: bottom;
}
.ae-table tfoot tr td {
  border-top: 1px solid #c5d7ef;
  background-color: #e5ecf9;
}
.ae-table td {
  border-top: 1px solid #c5d7ef;
  border-bottom: 1px solid #c5d7ef;
}
.ae-even td,
.ae-even th,
.ae-even-top td,
.ae-even-tween td,
.ae-even-bottom td,
ol.ae-even {
  background-color: #e9e9e9;
  border-top: 1px solid #c5d7ef;
  border-bottom: 1px solid #c5d7ef;
}
.ae-even-top td {
  border-bottom: 0;
}
.ae-even-bottom td {
  border-top: 0;
}
.ae-even-tween td {
  border: 0;
}
.ae-table .ae-tween td {
  border: 0;
}
.ae-table .ae-tween-top td {
  border-bottom: 0;
}
.ae-table .ae-tween-bottom td {
  border-top: 0;
}
.ae-table #ae-live td {
  background-color: #ffeac0;
}
.ae-table-fixed {
  table-layout: fixed;
}
.ae-table-fixed td,
.ae-table-nowrap {
  overflow: hidden;
  white-space: nowrap;
}
.ae-new-usr td {
  border-top: 1px solid #ccccce;
  background-color: #ffe;
}
.ae-error-td td {
  border: 2px solid #f00;
  background-color: #fee;
}
.ae-table .ae-pager {
  background-color: #c5d7ef;
}

.ae-errorbox {
  border: 1px solid #f00;
  background-color: #fee;
  margin-bottom: 1em;
  padding: 1em;
  display: inline-block;
}

.ae-message {
  border: 1px solid #e5ecf9;
  background-color: #f6f9ff;
  margin-bottom: 1em;
  padding: 1em;
  display: inline-block;
}

/* Pull Queue Viewer */
#taskTable td, th {
  padding: .5em 1.5em .5em 0;
  border-bottom: 1px solid #c6c6c6;
}
