<div id="getting-started">
  <h1>Appscale Tools Error</h1>
  <%= content_tag :h3, display_flash_messages %>
  <p>
    In order to upload an application via the web interface you must have appscale tools version 1.3 or greater. The latest version of the tools can be downloaded from the <a href="http://code.google.com/p/appscale/">appscale wiki</a></p>

  <p>Once installed the path to tools can be set via the TOOLS_PATH environment variable or in "<em>AppLoadBalancer/config/environment.rb</em>". By default the path is set to "<em>/usr/local/appscale-tools</em>". Currently the path is set to "<em><%=h TOOLS_PATH %></em>" but this directory either does not exist or does not contain a bin directory with the require executables.
  </p>
  <p>After the path has been modified the load balancer must be restarted. This can be done by running "god stop mongrels" and then "god start mongrels".
  </p>

</div>


