.DS_Store
*.swp
*.pyc
*.idea
*.egg-info
*.pytest_cache
/AppServer_Java/appengine-java-sdk-repacked
/AppTaskQueue/build
/AppTaskQueue/dist
/AppTaskQueue/appscale/taskqueue/protocols/*_pb2.py
/AppDB/build
/AppDB/dist

# SearchService2
/SearchService2/appscale/search/protocols/*_pb2.py
/SearchService2/appscale/search/query_parser/query*
!/SearchService2/appscale/search/query_parser/query.g4
