[Unit]
Description=AppScale RabbitMQ Server
PartOf=appscale-backend.target
Before=appscale-backend.target
After=rabbitmq-server.service
Requires=rabbitmq-server.service

[Install]
WantedBy=appscale-backend.target