[Unit]
Description=AppScale Services HAProxy Load Balancer
Before=appscale-service.target
PartOf=appscale-service.target

[Service]
Type=notify
Environment=CONFIG=/etc/haproxy/service-haproxy.cfg
ExecStartPre=/usr/sbin/haproxy -f ${CONFIG} -c -q
ExecStart=/usr/sbin/haproxy -Ws -f ${CONFIG} -p /run/appscale/service-haproxy.pid $EXTRAOPTS
ExecReload=/usr/sbin/haproxy -f ${CONFIG} -c -q
ExecReload=/bin/kill -USR2 $MAINPID
SuccessExitStatus=0 143
KillMode=mixed
SyslogIdentifier=%p

[Install]
WantedBy=appscale-service.target