        <!-- FILE:templates/status/cloud.html -->
        <!--Body content-->
        <div id="content" class="clearfix">
            <div class="contentwrapper"><!--Content wrapper-->

                <div class="heading">

                    <h3>AppScale Dashboard</h3>                    

                    <div class="resBtnSearch">
                        <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
                    </div>

                </div><!-- End .heading-->

                <!-- Build page from here: -->
                <div class="row-fluid">


                </div><!-- End .row-fluid -->
				<div class="row-fluid">
				<div class="hero-unit">
				    <h1 align="center">Welcome to AppScale!</h1>
				    <p align="center">The Open Source App Engine</p>
				    <p align="center"><a href="mailto:support@appscale.com" class="btn btn-primary btn-large">Send Feedback</a> &nbsp; <a href="https://github.com/AppScale/appscale/issues" class="btn btn-info btn-large">Submit Issue</a></p>
            <span align="center" style="width: 50%" >
            {% if flash_message %}
                <ul id="noticeExplanation"><li class="flash notice">{{ flash_message }}</li></ul>
            {% endif %}
            </span>
				                            </div>
				</div><!-- End .row-fluid -->


                <div class="row-fluid">

                    <div class="span6">

                        <div class="box chart gradient">

                            <div class="title">

                                <h4>
                                    <span class="icon16 icomoon-icon-bars"></span>
                                    <span>AppScale API Status</span>
                                </h4>
                                <a href="#" class="minimize">Minimize</a>
                            </div>
                                <div class="content noPad">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>API Service</th>
                                          <th>Status</th>
                                        </tr>
                                      </thead>
                                      {% for service in service_info %}
                                     <!--API Status Hooks -->
                                      <tbody>
                                        <tr>
                                        <td align="center">{{ service }}</td>
                                        {% if service_info[service] == 'running' %}
                                          <td align="center"><img src="images/status_running.png"></td>
                                        {% elif service_info[service] == 'failed' %}
                                          <td align="center"><img src="images/status_failed.gif"></td>
                                        {% else %}
                                          <td align="center"><img src="images/status_unknown.gif"></td>
                                        {% endif %}
                                      </tr>
                                    {% endfor %}

                                      </tbody>
                                    </table>
                                </div>

                            </div><!-- End .box -->

                        </div><!-- End .span6 -->

						<div class="span6">

                            <div class="box gradient">

                                <div class="title">

                                    <h4>
                                        <span class="icon16 icomoon-icon-search-3"></span>
                                        <span>Database & Application Information</span>
                                    </h4>
                                    <a href="#" class="minimize">Minimize</a>
                                </div>
                                <div class="content">
									<h4><span class="icon12 icomoon-icon-database"></span>Current Database:</h4>
<!-- DB Hook -->                                    
                                      <ul class="unstyled">
                                        <li><span class="icon16 icomoon-icon-arrow-right-2"></span>Powered by <strong>{{ dbinfo['table'] }}</strong></li>
                                        <li><span class="icon16 icomoon-icon-arrow-right-2"></span>Data is replicated <strong>{{ dbinfo['replication'] }}</strong> times</li>
                                      </ul>
                                    <hr/>
                                    <h4><span class="icon12 icomoon-icon-cube"></span>Current Applications Deployed:</h4>
<!-- App Info Hook -->
                                    <ul class="unstyled">
                                      {% if apps|length == 0 %}
                                        <li><span class="icon16 icomoon-icon-arrow-right-2"></span>none</li>
                                      {% else %}
                                        {% for app_name in apps.keys()|sort %}
                                            <li><span class="icon16 icomoon-icon-arrow-right-2"></span>
                                              {% if apps[app_name] %}
                                                <a href="{{ apps[app_name] }}" target="_blank">{{ app_name }}</a>
                                              {% else %}
                                                {{ app_name }} (loading)
                                              {% endif %}
                                            </li>
                                        {% endfor %}
                                      {% endif %}
                                      </ul>
                                </div>

                            </div><!-- End .box -->
             {% if is_user_cloud_admin %}<!--Start Cloud Admin View-->
                        </div><!-- End .span3 -->
 <div class="row-fluid">

                        <div class="span12">
                            <div class="box gradient">
                              <div class="title">
                                <h4>
                                    <span class="icon16 icomoon-icon-screen-2"></span> 
                                    <span>CPU / Memory Usage &nbsp; &nbsp;  
                                    <a href="{{monitoring_url}}" class="btn btn-info tipR" title="Current detailed hardware status">Machine Monitoring</a>
                                    </span>
                                </h4>
                                <a href="#" class="minimize">Minimize</a>
                              </div>
                              <div class="content noPad">
                            <table class="responsive table table-bordered">
                                <thead>
                                  <tr>
                                    <th>IP Address</th>
                                    <th>CPU Usage</th>
                                    <th>Memory Usage</th>
                                    <th>Hard Disk Usage</th>
                                    <th>Role(s)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for server in server_info %}
                                    <tr>
                                      <td style="text-align: center;"><strong>{{server['ip'] }}</strong></td>
                                      <td align="center">
                                        <div id="{{ server['key'] }}g1" style="width:200px; height:160px"></div>
                                      </td>
                                      <td align="center">
                                        <div id="{{ server['key'] }}g2" style="width:200px; height:160px"></div>
                                      </td>
                                      <td align="center">
                                        <div id="{{ server['key'] }}g3" style="width:200px; height:160px"></div>
                                      </td>
                                      <td style="text-align: center;">
                                        <strong>{{server['roles']|join(', ') }}</strong>
                                      </td>
                                    </tr>
                                {% endfor %}
                                 <script>
                                   window.onload = function(){
                                     {% for server in server_info %}
                                       new JustGage({
                                         id: "{{ server['key'] }}g1",
                                         value: {{ server['cpu'] }},
                                         min: 0,
                                         max: 100,
                                         title: "CPU",
                                         label: "",
                                         levelColorsGradient: false
                                       });
                                        
                                       new JustGage({
                                         id: "{{ server['key'] }}g2",
                                         value: {{ server['memory'] }},
                                         min: 0,
                                         max: 100,
                                         title: "MEM",
                                         label: "",
                                         levelColorsGradient: false
                                        });
                                        
                                        new JustGage({
                                          id: "{{ server['key'] }}g3",
                                          value: {{ server['disk'] }},
                                          min: 0,
                                          max: 100,
                                          title: "HD",
                                          label: "",
                                          levelColorsGradient: false
                                        });
                                     {% endfor %}
                                    };
                                 </script>
                                </tbody>
                            </table>
                          </div>
                          </div>
                        </div><!-- End .span6 -->
                        </div><!-- End .row-fluid -->
                        						
                </div><!-- End .row-fluid -->
                <A HREF="?forcerefresh=1">Refresh all data</A>
                {% endif %} <!-- end of admin only boxes -->
                
            </div><!-- End contentwrapper -->
        </div><!-- End #content -->
    
    </div><!-- End #wrapper -->
    
    
    
    
    <!-- Le javascript
    ================================================== -->
    <!-- Important plugins put in all pages -->
    <script type="text/javascript" src="js/jquery.1.7.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.js"></script>  
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>

    <!-- Charts plugins -->
    <script type="text/javascript" src="plugins/charts/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="plugins/charts/flot/jquery.flot.grow.js"></script>
    <script type="text/javascript" src="plugins/charts/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="plugins/charts/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="plugins/charts/flot/jquery.flot.tooltip_0.4.4.js"></script>
    <script type="text/javascript" src="plugins/charts/flot/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="plugins/charts/sparkline/jquery.sparkline.min.js"></script><!-- Sparkline plugin -->
    <script type="text/javascript" src="plugins/charts/knob/jquery.knob.js"></script><!-- Circular sliders and stats -->

    <!-- Misc plugins -->
    <script type="text/javascript" src="plugins/misc/fullcalendar/fullcalendar.min.js"></script><!-- Calendar plugin -->
    <script type="text/javascript" src="plugins/misc/qtip/jquery.qtip.min.js"></script><!-- Custom tooltip plugin -->
    <script type="text/javascript" src="plugins/misc/totop/jquery.ui.totop.min.js"></script> <!-- Back to top plugin -->
    <!-- Search plugin -->
    <script type="text/javascript" src="plugins/misc/search/tipuesearch_set.js"></script>
    <script type="text/javascript" src="plugins/misc/search/tipuesearch_data.js"></script><!-- JSON for searched results -->
    <script type="text/javascript" src="plugins/misc/search/tipuesearch.js"></script>

    <!-- Form plugins -->
    <script type="text/javascript" src="plugins/forms/watermark/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="plugins/forms/uniform/jquery.uniform.min.js"></script>
    
    <!-- Fix plugins -->
    <script type="text/javascript" src="plugins/fix/ios-fix/ios-orientationchange-fix.js"></script>

    <!-- Important Place before main.js  -->
    <script type="text/javascript" src="js/jquery-ui.1.8.2.min.js"></script>
    <script type="text/javascript" src="plugins/fix/touch-punch/jquery.ui.touch-punch.min.js"></script><!-- Unable touch for JQueryUI -->

    <!-- Init plugins -->
    <script type="text/javascript" src="js/main.js"></script><!-- Core js functions -->
    <script type="text/javascript" src="js/dashboard.js"></script><!-- Init plugins only for page -->

