<!-- FILE:templates/logs/service.html -->
<!--Body content-->
<div id="content" class="clearfix">
    <div class="contentwrapper"><!--Content wrapper-->

        <div class="heading">

            <h3>Log Viewer</h3>                    

            <div class="resBtnSearch">
                <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
            </div>

        </div><!-- End .heading-->

        <!-- Build page from here: -->
        <div class="row-fluid">
          <div class="span3"></div><!--spacing div-->
          <div class="span6">
            <div class="page-header">
              <h1>View {{ service_name }} logs on {{ host }}:</h1>
            </div><!--close header-->
          <table>
            <tr>
              <td>time</td>
              <td>message</td>
            </tr>
            {% for line in query %}
              {% for app_log in line.app_logs %}
              <tr>
              <td>{{ app_log.timestamp }}</td>
              <td>{{ app_log.message }}</td>
              </tr>
              {% endfor %}
            {% endfor %}
          </table>
          </div><!--close span6 -->
        <div class="span3"></div> <!--spacing div-->
        </div> <!-- end row fluid -->
    </div> <!-- end content wrapper -->
</div> <!--end content-->
