<div id="getting-started">
  <%= display_flash_messages %>
  <h3>Authorization Info:</h3>
  <% form_tag :action => "update" do %>
    <table border="1">
      <tr>
        <td align="center">Username</td>
        <td align="center">Upload / Remove App</td>
      </tr>
      <% info = get_authorization_info %>
      <% info.each do |user, caps| %>
        <tr>
          <td align="center"><%= user %></td>
          <td align="center"><%= check_box_tag "#{user}-upload_app", "#{user}-upload_app", user_has_ability?("upload_app", caps) %></td>
        </tr>
      <% end %>
    </table>
    <div align="center"><%= submit_tag "Update" %></div>
  <% end %>
</div>
