
.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation, #noticeExplanation {
    width: 350px;
    padding: 10px 20px 0 30px;
    background-color: #f0f0f0;
}

#errorExplanation {
    border: 2px solid red;
}

#noticeExplanation {
    border: 2px solid green;
}


#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation li, #noticeExplanation li {
    font-size: 12px;
    list-style: square;
    margin-bottom: 0;
    padding: 0 3px 10px 3px;
    color: #000;
}
