body {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, sans-serif;
    font-size: 13px;
    color: #333;
}

h1 {
    font-size: 28px;
    color: #000;
}

a  {color: #03c}
a:hover {
    background-color: #03c;
    color: white;
    text-decoration: none;
}


#page {
    background-color: #f0f0f0;
    width: 700px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#content {
    float: left;
    background-color: white;
    border: 3px solid #aaa;
    border-top: none;
    padding: 25px;
    width: 700px;
}

#sidebar {
    float: right;
    width: 175px;
} 

#footer {
    clear: both;
}


#header, #about, #getting-started {
    padding-left: 85px;
    padding-right: 30px;
}


#header {
    background-image: url("/images/cloud.png");
    background-repeat: no-repeat;
    background-position: top left;
    height: 80px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
    color: #888;
    font-weight: normal;
    font-size: 16px;
}

#header a, #header a:hover { 
    background-color: white;
    text-decoration: none;
    /* This probably wont work in IE7 and below, they'll get pretty blue links */
    color: inherit;
}

#about h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

#about-content {
    background-color: #ffd;
    border: 1px solid #fc0;
    margin-left: -11px;
}
#about-content table {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    border-collapse: collapse;
}
#about-content td {
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
    background-color: #fcc;
    border: 1px solid #f00;
}
#about-content.failure p {
    margin: 0;
    padding: 10px;
}


#getting-started {
    margin-top: 25px;
}

#getting-started h1 {
    margin: 0;
    font-size: 20px;
}
#getting-started h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    margin-bottom: 25px;
}
#getting-started ol {
    margin-left: 0;
    padding-left: 0;
}
#getting-started li {
    font-size: 18px;
    color: #888;
    margin-bottom: 25px;
}
#getting-started li h2 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: #333;
}
#getting-started li p {
    color: #555;
    font-size: 13px;
}


#search {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}
#search input {
    font-size: 11px;
    margin: 2px;
}
#search-text {width: 170px}


#sidebar ul {
    margin-left: 0;
    padding-left: 0;
}
#sidebar ul h3 {
    margin-top: 25px;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#sidebar li {
    list-style-type: none;
}
#sidebar ul.links li {
    margin-bottom: 5px;
}


#nav {
    padding: 10px 0 0 0;
    margin: 13px auto 0 auto;
    border-bottom: 1px solid #CCCCCC;
}

#nav ul {
    margin: 1px;
}

#nav ul li { 
    list-style-type: none;
    display: inline; 
    font-size: 14px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 1px 10px;
    margin: 0 5px;
}

#nav ul li a {
    color: #000;
    text-decoration: none;
    background-color: #fff;
}

#nav ul li a:hover {
    color: red;
}

#login-status {
    text-align: right;
    float: right;
}

#confirm {
    text-align: center;
    padding-right: 50px;
}

.red { color: red; }


.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation, #noticeExplanation {
    width: 350px;
    padding: 20px 20px 20px 30px;
    background-color: #f0f0f0;
}

#errorExplanation {
    border: 2px solid red;
}

#noticeExplanation {
    border: 2px solid green;
}


#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation li, #noticeExplanation li {
    font-size: 12px;
    list-style: square;
    margin-bottom: 0;
    padding: 0 3px 10px 3px;
    color: #000;
}
