   <!-- FILE:templates/shared/navigation.html -->
   <div id="header">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="pull-left" href="/"><img id="appscale_logo" src="/images/appscale-logo.png"/></a>
              <div class="container-fluid">
                <div class="nav-no-collapse">
                    <ul style="padding-right: 2.5%;" class="nav pull-right">
                        {% if logged_in %}
                          <h3>User: {{ user_email }} | <a style="margin-top: -5px;" class="btn btn-danger btn-small" href="/users/logout">Logout</a></h3><br />
                        {% else %}
                          <h3><a class="btn btn-small btn-success" href="/users/login">Login</a> <a class="btn btn-info btn-small" href="/users/new">Create Account</a></h3>
                        {% endif %}
                    </ul><!--close drop down-->

                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar --> 

    </div><!-- End #header -->

    <div id="wrapper">

        <!--Responsive navigation button-->  
        <div class="resBtn">
            <a href="#"><span class="icon16 minia-icon-list-3"></span></a>
        </div>

        <!--Sidebar background-->
        <div id="sidebarbg"></div>
        <!--Sidebar content-->
        <div id="sidebar">

            <div class="shortcuts">
                <ul>
                    <li><a href="http://appscale.com" title="Support" class="tip"><span class="icon24 icomoon-icon-support"></span></a></li>
                </ul>
            </div><!-- End search -->            

            <div class="sidenav">

                <div class="sidebar-widget" style="width: 210px; margin: -1px 0 0 0;">
                    <h5 class="title" align="center" style="margin-bottom:0">Navigation</h5>
                </div><!-- End .sidenav-widget -->

                <div align="center" class="mainnav">
                    <ul>
                        <li align="center" class="tab"><a class="btn btn-info" href="/status">Cloud Status</a> </li>
                            {% if apps_user_is_admin_on or is_user_cloud_admin %}
                              <li align="center" class="tab"><a class="btn btn-info" href="/logs">View Logs</a></li>
                            {% endif %}
                            {% if is_user_cloud_admin %}
                              <li align="center" class="tab"><a class="btn btn-info" href="/authorize">Manage Users</a></li>
                            {% endif %}
                            {% if can_upload_apps %}
                              <li align="center" class="tab"><a class="btn btn-info" href="/apps/new">Upload App</a></li>
                              <li align="center" class="tab"><a class="btn btn-info" href="/apps/delete">Delete App</a></li>
                            {% endif %}
                    </ul>
                </div>
            </div><!-- End sidenav -->

        </div><!-- End #sidebar -->
</div> <!--close wwrapper-->
<!--Testing SFTP -->


