[NDBD DEFAULT]
NoOfReplicas=REPLICATION
DataMemory=80M    # How much memory to allocate for data storage
IndexMemory=18M   # How much memory to allocate for index storage
[MYSQLD DEFAULT]
[NDB_MGMD DEFAULT]
[TCP DEFAULT]
[NDB_MGMD]
# IP address of the management node
Hostname=APPSCALE-MASTER

# Section for the storage nodes
#--start
[NDBD]
Hostname=128.111.55.211
DataDir=/var/lib/mysql-cluster
BackupDataDir=/var/lib/mysql-cluster/backup
DataMemory=512M
[MYSQLD]
set-variable=max_connections=1000
#--end
