{% extends "base.html" %}
{% block title %}Confirm Delete of a backup copy{% endblock %}
{% block body %}
  <h2>Datastore Admin: Delete a backup copy</h2>
  {% if backups %}
    Are you sure you want to delete the following backups:
    <ul>
      {% for backup in backups %}
        <li>{{ backup.name }}</li>
      {% endfor %}
    </ul>
    {% if gs_warning %}
    <p>Warning, backup files stored in Google Cloud Storage can only be deleted manually and will not be deleted by this operation.</p>
    {% endif %}
    <form action="{{base_path}}/{{form_target}}" method="post" style="width:39.39em;">
      {% for backup in backups %}
        <input type="hidden" name="backup_id" value="{{backup.key}}">
      {% endfor %}
      <input type="hidden" name="namespace" value="{{namespace|escape}}">
      <input type="hidden" name="xsrf_token" value="{{xsrf_token|escape}}">
      <input type="Submit" value="Yes">
      <a href="{{ cancel_url|escape }}">Cancel</a>
    </form>

  {% else %}
    <div class="ae-errorbox">Backup was not found.</div>
  {% endif %}
{% endblock %}

