<div id="getting-started">
  <h1>Delete an application</h1>
  <% if @apps.length > 0 %>
    <%= content_tag :h3, display_flash_messages %>
    <% form_tag :action => :destroy do  %>
    <p>
      <%= select_tag "appname", options_for_select(@apps)  %>
    </p>
    <p>
      <%= submit_tag "Delete", :confirm => "Are you sure you want to delete this app?" %>
    </p>
  <% end %>
<% else %>
  <br />
  <% if is_user_cloud_admin %>
    <h2> There are no applications running.<br />
  <% else %>
    <h2> There are no running applications that you have permission to delete.<br />
  <% end %>
    Want to&nbsp;<%= link_to "upload an app", :controller => :apps, :action => :new %>?
  </h2>
<% end %>
</div>


