<!--Body content-->
        <div id="content" class="clearfix">
            <div class="contentwrapper"><!--Content wrapper-->

                <div class="heading">

                    <h3>AppScale Dashboard</h3>                    

                    <div class="resBtnSearch">
                        <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
                    </div>

                </div><!-- End .heading-->

                <!-- Build page from here: -->
                <div class="row-fluid">
                  <div class="span4"></div>
                  <div class="span4">
                    <div class="page-header">
                    <h1>Delete an application</h1></div><!--close page header-->
                    <div class="well">
                    <% if @apps.length > 0 %>
                      <%= content_tag :h3, display_flash_messages %>
                      <% form_tag :action => :destroy do  %>
                      <p>
                        <%= select_tag "appname", options_for_select(@apps)  %>
                      </p>
                      <p>
                        <%= submit_tag "Delete", :confirm => "Are you sure you want to delete this app?" %>
                      </p>
                    <% end %>
                  <% else %>
                    <br />
                    <% if is_user_cloud_admin %>
                      <h2> There are no applications running.<br />
                    <% else %>
                      <h2> There are no running applications that you have permission to delete.<br />
                    <% end %>
                      Want to&nbsp;<%= link_to "upload an app", :controller => :apps, :action => :new %>?
                    </h2>
                  <% end %> 
                </div><!--close well-->
                </div><!--close span6 -->
                <div class="span4"></div> 
                </div> <!-- end row fluid -->
            </div> <!-- end content wrapper -->
        </div> <!--end content-->


