 <div class="container-fluid">

        <div id="header">

            <div class="row-fluid">

                <div class="navbar">
                    <div class="navbar-inner">
                      <div class="container">
                            <a class="brand" href="#">AppScale <span class="slogan">Cloud Administration</span></a>
                      </div>
                    </div><!-- /navbar-inner -->
                  </div><!-- /navbar -->
                

            </div><!-- End .row-fluid -->

        </div><!-- End #header -->

    </div><!-- End .container-fluid --> 


       <div class="container-fluid">

       	<div class="row-fluid">
       	<div class="span12">
       		  <%= display_flash_messages %>
       	</div>
       	</div>



