<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>showfiles</servlet-name>
    <servlet-class>showfiles.ShowFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showfiles</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <mime-mapping>
    <extension>xxx</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
</web-app>
