.ah-tasks-message {
  color: red;
  margin-bottom: 1em;
}

#ah-tasks .ah-tasks-message {
  margin: 1em;
}

.ah-task-times {
  margin-top: 1em;
}
#ah-tasks .ae-table,
#ah-tasks .ae-table td {
  border: 0;
  padding: 0;
}
#ah-tasks ol {
  list-style: none;
}
#ah-tasks li {
  padding: .2em 0;
}
.ah-task-test {
  text-align: right;
}
