<% page_title("Welcome to monitr") %>

<p>
  Welcome to montir, the portal for displaying all your monitoring data. To get started select a machine and metric from the menu bar on the left side. 
</p>
<p>
  Confused? See the <%= link_to "help page",  :controller=> :graphs, :action => :help %> for more information.
</p>
