<!-- FILE:templates/apps/new.html -->
<!--Body content-->
<div id="content" class="clearfix">
    <div class="contentwrapper"><!--Content wrapper-->

        <div class="heading">

            <h3>AppScale Dashboard</h3>                    

            <div class="resBtnSearch">
                <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
            </div>

        </div><!-- End .heading-->

        <!-- Build page from here: -->
        <div class="row-fluid">
          <div class="span3"></div><!--spacing div-->
          <div class="span6">
            <div class="page-header">
                <h1>Admin Console for {{ app_id }}</h1>
            </div><!--close header-->
                  <div class="well">
                  <p>
                  {% for entry in requests %}
                    <li />At time {{ entry.timestamp }}, there were {{ entry.num_of_requests }} requests.
                  {% endfor %}
                  </p>
                  </div><!--close well-->
        </div><!--close span6 -->
        <div class="span3"></div> <!--spacing div-->
        </div> <!-- end row fluid -->
    </div> <!-- end content wrapper -->
</div> <!--end content-->
