<!--Body content-->
<div id="content" class="clearfix">
    <div class="contentwrapper"><!--Content wrapper-->

        <div class="heading">

            <h3>AppScale Dashboard</h3>                    

            <div class="resBtnSearch">
                <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
            </div>

        </div><!-- End .heading-->

        <!-- Build page from here: -->
        <div class="row-fluid">
          <div class="span3"></div><!--spacing div-->
          <div class="span6">
            <div class="page-header">
                <h1>Upload an application</h1></div><!--close header-->
                  <div class="well">
                  {% if i_can_upload %}
                    <form action="/apps/new" class="edit_app" enctype="multipart/form-data" id="edit_app" method="post">
                      {% if success_message %}
                      <h3>
                        <ul id="noticeExplanation"><li class="flash notice">{{ success_message }}</li></ul>
                      </h3>
                      {% endif %}
                      {% if error_message %}
                      <h3>
                        <ul id="errorExplanation"><li class="flash error">{{ error_message }}</li></ul>
                      </h3>
                      {% endif %}
                      <p>
                        <label for="app_file_data"><h3>New Applications &nbsp; - &nbsp;
                        Must be a .tar.gz file.&nbsp;</h3>
                        </label><a href="#" onclick="showHelp();"><strong>Help</strong></a>
                      </p>
                      <p>
                        <input accept="tar.gz, tgz" id="app_file_data" name="app_file_data" size="30" type="file" />
                        <img alt="Spinner" id="spinner" src="/images/spinner.gif?1363364452" style="display:none;" />
                      </p>
                      <p>
                        <input class="btn btn-primary" id="upload-button" name="commit" onclick="uploading();" type="submit" value="Upload" />
                      </p>
                    </form>
                  <div id="help-text" style="display: none;"><h3>Help</h3>This form allows you to upload applications into AppScale. Valid applications must be tarred and gzipped and have a ".tar.gz" extension. To create this file run <em>"tar -czf app.tar.gz ."</em> in the directory containing the application's app.yaml file.
                  </div>
                  </div>
                  {% else %}
                    <h2> You do not have permission to upload application.  Please contact your cloud administrator.</h2>
                  {% endif %}
              </div><!--close well-->
        </div><!--close span6 -->
        <div class="span3"></div> <!--spacing div-->
        </div> <!-- end row fluid -->
    </div> <!-- end content wrapper -->
</div> <!--end content-->




