<!-- Copyright 2007 Google Inc. All Rights Reserved -->

<!--
    The below HTML code was generated and appended by Google. Its purpose is
    to display a logging console in the browser. It's appearing here because
    either:

      (a) the CGI parameter "debug" was in the URL
      (b) the cookie "_ah_severity" was present in the HTTP request

    To stop this from being appended, you should remove the CGI parameter
    "debug" from the request URL and then either click the "Close" link on the
    logging console, or delete the "_ah_severity" cookie.

    All element ids used by the code for this logging console are prefixed
    with "_ah", all cookies used are prefixed with "_ah", and all classes and
    functions are in the namespace "AH".
 -->

<div id="_ah_base"
     style="z-index: 99999; position: absolute; right: 10px;
            background-color: white; color: black; width: 600px;
            border: 1px solid black; padding: 10px; font-family: courier;
            font-size: medium; margin: 10px;">

  <table><tr><td>
    <table cellspacing=0 cellpadding=0 rules=all border=frame>
      <tr>
        <td style="background-color: white; cursor: pointer; height: 15px;
                   width: 15px;"
            id="_ah_up_left"
            onClick="(new AH.LoggingConsole).moveBaseDiv('up_left')"></td>
        <td style="background-color: white; cursor: pointer; height: 15px;
                   width: 15px;"
            id="_ah_up_right"
            onClick="(new AH.LoggingConsole).moveBaseDiv('up_right')"></td>
      </tr>
      <tr>
        <td style="background-color: white; cursor: pointer; height: 15px;
                   width: 15px;"
            id="_ah_down_left"
            onClick="(new AH.LoggingConsole).moveBaseDiv('down_left')"></td>
        <td style="background-color: white; cursor: pointer; height: 15px;
                   width: 15px;"
            id="_ah_down_right"
            onClick="(new AH.LoggingConsole).moveBaseDiv('down_right')"></td>
      </tr>
    </table>
    </td><td valign=top>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a id="_ah_show_debug"
         href="javascript:(new AH.LoggingConsole).changeLogSeverity('debug')">
         DEBUG</a>
      <a id="_ah_show_info"
         href="javascript:(new AH.LoggingConsole).changeLogSeverity('info')">
         INFO</a>
      <a id="_ah_show_warning"
         href="javascript:(new AH.LoggingConsole).changeLogSeverity('warning')">
         WARNING</a>
      <a id="_ah_show_error"
         href="javascript:(new AH.LoggingConsole).changeLogSeverity('error')">
         ERROR</a>
      <a id="_ah_show_critical"
         href="javascript:(new AH.LoggingConsole).changeLogSeverity('critical')">
         CRITICAL</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a id="_ah_close"
         href="javascript:(new AH.LoggingConsole).closeEverything()">Close</a>
  </td></tr></table>

  <div id="_ah_loglines" style="margin: 10px; height: 300px; overflow: auto;">
