<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>clock</servlet-name>
		<servlet-class>clock.ClockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clock</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
  <servlet>
    <servlet-name>prefs</servlet-name>
    <servlet-class>clock.PrefsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prefs</servlet-name>
    <url-pattern>/prefs</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>prefs</web-resource-name>
      <url-pattern>/prefs</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
